In [1]:
# data manipulation
import pandas as pd
import numpy as np

# data viz
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns

# apply some cool styling
plt.style.use("ggplot")
rcParams['figure.figsize'] = (12, 6)

# use sklearn to import a dataset
from sklearn.datasets import load_diabetes

In [2]:
diabet = load_diabetes(scaled=False)
df = pd.DataFrame(data=diabet.data, columns=diabet.feature_names)
df["target"] = diabet.target

In [3]:
df.head(14)

     age  sex   bmi     bp     s1     s2    s3    s4      s5    s6  target
0   59.0  2.0  32.1  101.0  157.0   93.2  38.0  4.00  4.8598  87.0   151.0
1   48.0  1.0  21.6   87.0  183.0  103.2  70.0  3.00  3.8918  69.0    75.0
2   72.0  2.0  30.5   93.0  156.0   93.6  41.0  4.00  4.6728  85.0   141.0
3   24.0  1.0  25.3   84.0  198.0  131.4  40.0  5.00  4.8903  89.0   206.0
4   50.0  1.0  23.0  101.0  192.0  125.4  52.0  4.00  4.2905  80.0   135.0
5   23.0  1.0  22.6   89.0  139.0   64.8  61.0  2.00  4.1897  68.0    97.0
6   36.0  2.0  22.0   90.0  160.0   99.6  50.0  3.00  3.9512  82.0   138.0
7   66.0  2.0  26.2  114.0  255.0  185.0  56.0  4.55  4.2485  92.0    63.0
8   60.0  2.0  32.1   83.0  179.0  119.4  42.0  4.00  4.4773  94.0   110.0
9   29.0  1.0  30.0   85.0  180.0   93.4  43.0  4.00  5.3845  88.0   310.0
10  22.0  1.0  18.6   97.0  114.0   57.6  46.0  2.00  3.9512  83.0   101.0
11  56.0  2.0  28.0   85.0  184.0  144.8  32.0  6.00  3.5835  77.0    69.0

In [4]:
df.rename(columns={"s1": "tc",
                  "s2": "ldl",
                  "s3": "hdl",
                  "s4": "tch",
                  "s5": "ltg",
                  "s6": "glu"}, inplace=True)

In [5]:
df.head(5)

    age  sex   bmi     bp    tc1    ldl   hdl  tch     ltg   glu  target
0  59.0  2.0  32.1  101.0  157.0   93.2  38.0  4.0  4.8598  87.0   151.0
1  48.0  1.0  21.6   87.0  183.0  103.2  70.0  3.0  3.8918  69.0    75.0
2  72.0  2.0  30.5   93.0  156.0   93.6  41.0  4.0  4.6728  85.0   141.0
3  24.0  1.0  25.3   84.0  198.0  131.4  40.0  5.0  4.8903  89.0   206.0
4  50.0  1.0  23.0  101.0  192.0  125.4  52.0  4.0  4.2905  80.0   135.0